<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />

<title>Search</title>

<link rel="stylesheet" th:href="@{/css/main.css}" href="main.css" type="text/css"/>

</head>

<body>

  <div class="top">
  		<a th:href="@{'/'}" class="new">Home Page</a>
  </div>

 <div class="center"> 

  <div th:if="${supermarkets.empty}">
     <span th:text="${message}"></span>
  </div>
  
  <div th:unless="${supermarkets.empty}">
    <table class="table2" id="supermarkets_name_table">
      <caption>Searched Supermarkets</caption>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="supermarket : ${supermarkets}">
          <td th:text="${supermarket.name}"></td>
          <td th:text="${supermarket.address}"></td>
          <td><a th:href="@{'/edit/' + ${supermarket.id}}" class="edit">Edit</a></td>
          <td><a th:href="@{'/delete/' + ${supermarket.id}}" class="delete">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  
 </div>
  
</body>
</html>