@charset "UTF-8";

body {
	background-image: url("webapp_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center;
	
}

.table {
	text-align: center;
	width: 50%;
    margin-top: 60px;
	margin-left: auto;
  	margin-right: auto;
}

.table2 {
	text-align: center;
	width: 50%;
    margin-top: 50px;
	margin-left: auto;
  	margin-right: auto;
}

th, td {
  padding: 15px;
  text-align: left;
  
}

th {
  border: 1px solid black;
  background-color: #0000ff;
  color: white;
  font-family: "Segoe Print";
}

.table2 th {
  border: 1px solid black;
  background-color: #ff0080;
  color: white;
  font-family: "Segoe Print";
}

td {
  border: 1px solid black;
  background-color: white;
  font-family: "Lucida Console";
}
 
caption {
  color: white;
  font: bold 80px Georgia;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px blue;
}

.table2 caption {
  color: white;
  font: bold 70px Georgia;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px #ff0080;
}