@charset "UTF-8";

body {
	background-image: url("webapp_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center;	
}

.table {
	text-align: center;
	width: 40%;
    margin-top: 60px;
	margin-left: auto;
  	margin-right: auto;
}

.table2 {
	text-align: center;
	width: 40%;
    margin-top: 50px;
	margin-left: auto;
  	margin-right: auto;
}

th, td {
  padding: 15px;
  text-align: left;
  
}

th {
  border: 1px solid black;
  background-color: #0000ff;
  color: white;
  font-family: "Segoe Print";
}

.table2 th {
  border: 1px solid black;
  background-color: #ff0080;
  color: white;
  font-family: "Segoe Print";
}

td {
  border: 1px solid black;
  background-color: white;
  font-family: "Lucida Console";
  max-width:100%;
  white-space:nowrap;
}
 
caption {
  color: white;
  font: bold 50px Georgia;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px blue;
}

.table2 caption {
  color: white;
  font: bold 50px Georgia;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px #ff0080;
}

h1 {
  color: white;
  font: bold 70px Georgia;
  margin-top: 150px;
  text-shadow: 2px 2px 5px green;
}

h2 {
  color: red;
  background-color: white;
  background-size: cover;
  border: 1px solid red;
  font: 30px Times New Roman;
  display: inline-block;
  padding: 10px 20px;
}

h3 {
  color: white;
  font: bold 70px Georgia;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px purple;
}

a.edit:link, a.edit:visited {
  font-family: "Impact";
  background-color: white;
  color: green;
  border: 3px solid green;
  padding: 5px 10px;
  text-decoration: none;
  text-align: center;
}

a.edit:hover, a.edit:active {
  background-color: green;
  color: white;
}

a.delete:link, a.delete:visited {
  font-family: "Impact";
  background-color: white;
  color: red;
  border: 3px solid red;
  padding: 5px 10px;
  text-decoration: none;
  text-align: center;
}

a.delete:hover, a.delete:active {
  background-color: red;
  color: white;
}

a.reset:link, a.reset:visited {
  font-family: "Segoe Print";
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.reset:hover, a.reset:active {
  background-color: red;
}

a.new:link, a.new:visited {
  font-family: "Segoe Print";
  background-color: white;
  color: green;
  border: 3px solid green;
  padding: 5px 13px;
  text-decoration: none;
  display: inline-block;
  margin-left: 8px;
}

a.new:hover, a.new:active {
  background-color: green;
  color: white;
  margin-left: 8px;
}

input[type=text] {
  background-color: white;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 8px;

}

.label{
  font-family: "Segoe Print";
  background-color: green;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

.form{
	display: inline-block;
}

.button {
    font-family: "Segoe Print";
	font-size: 15px;
	margin-left: 8px;
	border: 1px solid grey;
	padding: p3 15px;		
}

.button:hover {
	background-color: gray;
	color: white;
}


.bottom {
      text-align: center;
	  margin-top: 10px;
}

.top {
      text-align: left;
	  margin-top: 20px;
}

.center {
	text-align: center;
	vertical-align: text-middle;
}